body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  nav { 
    text-align: center;
    margin-bottom: 20px;
    background-color: #34495E; /* Darker gray for the nav bar */
    padding: 10px;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  nav a.active-link {
    font-weight: bold; /* Highlight the active link */
  }